@charset "utf-8";
body{ 
margin:0; 
padding-left:200px;/*LCfullwidth*/ 
padding-right:190px;/*RCfullwidth CCpadding*/ 
min-width:200px;/*LCfullwidth CCpadding*/ 
} 
.column{ 
position:relative; 
float:left; 
} 
#center{ 
width:100; 
} 
#left{ 
width:200px;/*LCwidth*/ 
right:200px;/*LCfullwidth*/ 
margin-left:-100; 
} 
#right{ 
width:190px;/*RCwidth*/ 
margin-right:-100; 
}/* CSS Document */

